
@import "../../../style/variables";

.leaflet-control-container .leaflet-top.leaflet-left{
    left: auto;
    right: 10px;
}

div.cmaps-map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom >
div.leaflet-control-container >
div.leaflet-bottom.leaflet-right{
    left: 0;
    right: auto;
}

//.leaflet-control-graphicscale-inner .label

.leaflet-control-graphicscale{
    position: absolute !important;
    left: 0 !important;
    top: -25px !important;
    color: #000!important;
}

.leaflet-control-graphicscale-inner .divisionLabel{
    color: #000 !important;
}
.leaflet-control-graphicscale-inner .zeroLabel{
    color: #000 !important;
}

.leaflet-overlay-pane{
    z-index: 700 !important;
}

.leaflet-marker-shadow {
    display: none;
}

.#{$prefix}map {
    width: 100%;
    height: 100%;

    .layer-measuredrag {
        pointer-events: none !important;
    }

    .#{$prefix}widget-ruler {
        margin-top: 85px !important;
        box-shadow: none;

        .leaflet-control-measure-toggle {
            width: 30px;
            height: 30px;
            border: 2px solid rgba(194,191,186, 1);
            box-sizing: content-box;
            border-bottom-left-radius: unset;
            border-bottom-right-radius: unset;
            border-bottom: 1px solid #c2bfba;
            font-family: 'icomoon';
            font-size: 0;
            color: rgb(97, 97, 97);
            text-indent: 5px;

            *{
                box-sizing: content-box;
            }

            &:before{
                font-size: 19px;
                content: "\e905";
            }

            &:hover {
                background-image: url(../../../../public/assets/img/rulers.png);
            }
        }
    }
}

@import "ChartLayer";