.App {
    height: 100%;
    width: 100%;
}

.c-row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.c-col-1{  width: calc(8.3333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-2{  width: calc(16.66667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-3{  width: calc(25% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-4{  width: calc(33.3333333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-5{  width: calc(41.666666667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-6{  width: calc(50% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-7{  width: calc(58.333333333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-8{  width: calc(66.666666667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-9{  width: calc(75% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-10{  width: calc(83.333333333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-11{  width: calc(91.666666667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
.c-col-12{  width: calc(100% - 20px); margin-right: 20px; display: flex; align-items: center;  }

.cmaps-toolbar-component-logo{
    background: url("./images/logo.png") no-repeat !important;
    filter: contrast(0) brightness(200%);
    background-size: contain !important;
    width: 280px !important;
    height: 45px !important;
    margin: 12px 20px 0 5px;
    box-sizing: border-box;
}