@import "./variables";
$baseClass : 'cmaps-accordion-component';

.#{$baseClass}{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .#{$baseClass}-container{
        padding: 10px;
        border: 1px solid #ddd;
        border-top: 0;
        background: #fff;
        position: relative;
    }

    .#{$baseClass}-label{
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        background: #eee;
        border: 1px solid #ddd;

        .#{$baseClass}-icon-collapsed{
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            height: 100%;
            width: 30px;

            &:before{
                content: ' ';
                position: absolute;
                top: 42%;
                left: 40%;
                border-bottom: 4px solid rgba(0,0,0,1);
                border-top: 4px solid rgba(0,0,0,0);
                border-right: 4px solid rgba(0,0,0,0);
                border-left: 4px solid rgba(0,0,0,0);
            }
        }
    }

    &.collapsed{
        .#{$baseClass}-container{
            display: none;
        }

        .#{$baseClass}-icon-collapsed{
            &:before{
                content: ' ';
                top:50%;
                border-bottom: 4px solid rgba(0,0,0,0);
                border-top: 4px solid rgba(0,0,0,1);
                border-right: 4px solid rgba(0,0,0,0);
                border-left: 4px solid rgba(0,0,0,0);
            }
        }
    }
}
