@import "variables";

$sideBarWidth : 140px;

.#{$app}-analysis-form-container {
    display: flex;
    height: 100%;
    //min-height: 350px;
    //max-height: 400px;
    .#{$app}-analysis-types-container {
        //width: 333px;
        padding: 0 10px;
    }

    .#{$app}-analysis-form-container-sidebar {
        height: 100%;
        width: $sideBarWidth;
        padding: 20px 0;
        font-size: 14px;
        background-color: $primary1Color;

        .#{$app}-analysis-form-container-menu-item {
            height: 40px;
            display: flex;
            align-items: center;
            padding-left: 25px;
            color: white;
            cursor: pointer;

            &.selected {
                background-color: $primary2Color;
            }
        }
    }

    .#{$app}-analysis-form-container-content {
        overflow-y: auto;
        width: calc(100% - 160px);
        max-height: 400px;
        padding: 0 10px;

        .#{$app}-type-static-container {

            .#{$app}-static-color-picker-container {
                display: flex;
            }

            .#{$app}-type-static-custom-symbology {
                display: flex;
                position: relative;

                .#{$app}-type-static-custom-symbology-text-box {
                    max-width: 70%;

                    .#{$app}-title {
                        font-weight: 900;
                        color: rgba(0, 0, 0, 0.870588);
                        margin: 0 4px 4px 4px;
                    }
                    .#{$app}-subtitle {
                        margin: 4px;
                        color: rgba(0, 0, 0, 0.541176);
                        font-size: 14px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }

        .#{$app}-type-thematic-container {

            .#{$app}-thematic-size-select-field-container {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .#{$app}-thematic-color-select-field-container {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .#{$app}-thematic-size-slider-container {
                width: 100%;
                display: table;

                .#{$app}-input-range {
                    width: 50%;
                    display: table-cell;
                    padding-right: 10px;
                    padding-left: 5px;
                }
            }
        }

        .#{$app}-type-chart-container {
            .#{$app}-type-chart-fields-container {
                display : flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .#{$app}-type-cluster-container {

            .#{$app}-type-cluster-color-picker-container {
                position : absolute;
                top : 0;
                right : 0;
                display : flex;
            }

            .#{$app}-type-cluster-color-ramp-container {
                position: relative;
                display: flex;

                .#{$app}-align-items-cluster {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }


        }

        .#{$app}-type-heatmap-container {

            .#{$app}-type-heatmap-inline-inputs {
                display : flex;
                width : 100%;

                .#{$app}-input-radius-aggregation {
                    width : 50%;
                    padding-right : 5px;
                }

                .#{$app}-input-color-ramp {
                    width : 50%;
                    padding-left : 5px;
                    transform: translateY(-4px);
                }
            }
        }
    }

}

