@import "variables";

.#{$app}-analysis-box {
    padding: 10px 5px 0 5px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    z-index: 11;
    width: 100%;

    & .transparency-label {
        font-size: 0.85em;
        margin-left: 27px;
        transform: translateY(20px);
        display: block;
        color: #616161;
    }

    & .#{$app}-loading {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
        background: #fff;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;

        &.active {
            display: flex;
        }

        &.hidden {
            display: none;
        }
    }

    .#{$prefix}header{
        display: flex;
        flex-flow: initial;
        justify-content: flex-start;
        align-items: center;
    }

    & .#{$app}-analysis-box-content {
        width: 100%;
        padding: 5px;
        background: #fff;
        border: 1px solid #ddd;
        margin-top: 6px;
        overflow: hidden;

        .#{$app}-analysis-box-build-error {
            height: 100%;
            width: 100%;
            background-color: rgb(200, 200, 200);
            position: absolute;
            top: 0;
            left: 0;
            z-index : 2;

            .#{$app}-analysis-box-text-container {
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: default;
            }
        }


        .#{$app}-analysis-box-out-of-visible-scale {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            z-index: 3;
            pointer-events: none;

            .block-actions {
                background: linear-gradient(to right, rgba(255, 255, 255, .8), transparent);
                width: calc(100% - 30px);
                height: 100%;
                pointer-events: all;
            }
        }
    }

    svg {
        transition: transform 250ms ease-out !important;
    }

    .#{$app}-analysis-box-actions {
        display: flex;
        width: 100%;
        height: 40px;
    }

    .#{$app}-analysis-box-action {
        position: relative;
        width: 50%;
    }

    .#{$app}-analysis-box-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &.right {
            right: 0;
        }

        &.left {
            left: 0;
        }

    }
}
