@import "variables";

.cmaps-analysis-types-container {

    .cmaps-analysis-types-tab {
        border-bottom: 1px solid #e6e6e6;

        & > div{
            background-color: #ffffff !important;

            Button{
                color: #5a637a !important;
            }
        }

        &:last-child > div > div {
            background-color: #5a637a !important;
            height: 5px;
        }
    }

    .analysis-type-icon {
        background-color: transparent;
        cursor: pointer;
        display: inline-block;
        margin-right: 5%;
        padding: 2px;
        box-sizing: border-box;

        input[type="radio"] {
            opacity: 0;
            height:0;
            width:0;
            position: absolute;
        }
        input[type="radio"]:checked {

            ~ .item {
                border: solid 2px $primary1Color;
                svg {
                    path {
                        fill: $primary1Color;
                    }
                    circle {
                        fill: $primary1Color;
                    }
                }
                ~ .subtitle {
                    color: $primary1Color;
                }
            }
        }
        .item {
            padding: 5%;
            border: solid 1px #ddd;

            ~ .subtitle {
                text-align: center;
                color: $defaultColorGray;
            }
        }
        svg, img {
            fill:gray;
            width: 100%;
            transform: translate(5%, 10%);
        }
    }
}

