@import "./variables";

.#{$prefix}break-count-field-container {
    position : relative;
    max-width: 150px;

    .#{$prefix}break-count-label {
        color: rgba(0, 0, 0, 0.298039);
        font-size: 0.75em;
        display: block;
        padding-bottom: 10px;
        padding-top: 2px;
        text-align: center;
    }

    .#{$prefix}break-count-buttons-container {
        display : flex;

        .#{$prefix}break-count-display {
            height : 50px;
            width : 50px;
            border-radius : 50%;
            background-color : $primary1Color;
            position : relative;

            .#{$prefix}break-count-display-text {
                position : absolute;
                color : white;
                left: 50%;
                transform: translateX(-50%);
                line-height: 50px
            }
        }
    }
}