@import "./variables";

.#{$app}-chart-fields-container {
    width : 100%;
    display : inline-block;

    .#{$app}-chart-fields-card {

        position: relative;
        padding : 15px;
        width : 32%;
        margin: 4px 4px;
        display : inline-block;
        min-width: 210px;

        .#{$app}-chart-fields-color-circle {
            width: 25px;
            height: 25px;
            cursor : pointer;
            display: inline-block;
            border: solid white 2px;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0 0 0 2px rgb(189, 189, 189);
        }
    }
}



