@import "variables";

$baseClass : $prefix + "double-input-range-component";

.#{$baseClass} {

    display: flex;

    .#{$baseClass}-to {
        transform: translateY(-10px);
        font-size: 12px;
        color: #bcbcbc;
        display: flex;
        align-items: center;
    }

    .#{$baseClass}-first-slider-container {
        display: flex;
        flex: 1;

        > div {
            flex: 1;
        }

        .#{$baseClass}-first-slider-label {
            @extend .label-style;
        }
    }

    .#{$baseClass}-second-slider-container {
        flex: 1;
        display: flex;

        > div {
            flex: 1;
        }

        .#{$baseClass}-second-slider-label {
            transform: translateX(50px);
            @extend .label-style;
        }
    }

    .tip {
        width: 35px;
        height: 25px;
        flex: unset;
        background-color: lighten($tipColor, 50%);
        transform: translateY(20px);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 10px;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            border-color: lighten($tipColor, 50%) transparent;
            display: block;
            z-index: 1;
            right: 35px;
            width: 0;
            height: 0;
            transform: translateY(-50%);
        }
    }

    .#{$baseClass}-first-slider-tip {
        flex: unset !important;
        margin-left: 10px;
        margin-right: 2.5px;

        &:after {
            right: 35px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid lighten($tipColor, 50%);
        }
    }

    .#{$baseClass}-second-slider-tip {
        flex: unset !important;
        margin-right: 10px;
        margin-left: 2.5px;

        &:after {
            left: 35px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid lighten($tipColor, 50%);
        }
    }
}

.label-style {
    position: absolute;
    font-size: 12px;
    color: #bcbcbc;
}
