@import "./variables";
$baseClass : $app + '-filter-fields-container';

.#{$baseClass} {
    position: relative;

    .#{$baseClass}-combo-field{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 350px;
        width: 100%;
        align-content: center;
        flex-wrap: nowrap;
    }

    .#{$app}-filter-fields-cards-container {
        width : 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .#{$app}-filter-fields-card {
            position: relative;
            min-width: 210px;
            width : 32%;
            margin: 4px 4px;
            display : inline-block;
        }
    }
}
