@import "variables";

.#{$app}-ibama-nav-var-component{

    &.loading{
        &.hidden{
            visibility: hidden;
        }

        &.active{
            visibility: visible;
        }
    }
}