@import "./variables";

.#{$app}-input-gradient-container {
    width: 100%;
    padding: 0 0 10px 0;

    .#{$app}-input-gradient-custom-label {
        color: rgba(0, 0, 0, 0.298039);
        font-size: 0.75em;
        padding: 10px 0;
        display: block;
    }

    .#{$app}-input-gradient-color-ramp-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        top: 25%;

        .#{$app}-input-gradient-left-squared {
            border: white 2px solid;
            width: 24px;
            height: 24px;
            z-index: 2;
            position: absolute;
            transform: translateY(-50%);
            box-shadow: 0 0 0 2px rgb(189, 189, 189);
            cursor: pointer;
        }

        .#{$app}-input-gradient-bar {
            position: absolute;
            width: 100%;
            height: 20px;
            z-index: 1;
            transform: translateY(-50%);
        }

        .#{$app}-input-gradient-right-squared {
            border: white 2px solid;
            z-index: 2;
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            box-shadow: 0 0 0 2px rgb(189, 189, 189);
            cursor: pointer;
        }
    }
}

