@import "variables";

.#{$app}-layer-box {
    padding: 10px 6px;
    vertical-align: top;
    transition: height 0.5s ease, box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    position: relative;
    background: #fff;
    z-index: 11;
    width: 340px;
    border-bottom: solid #eee 1px;

    .#{$app}-header{
        display: flex;
        flex-flow: initial;
        justify-content: flex-start;
        align-items: center;
    }

    .#{$app}-layer-box-content{
        width: 100%;
        transition: height 0.5s cubic-bezier(0, 0, 0.2, 1);

        .static-legend{
            margin-top: 10px;
        }
    }



    .loading {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
        background: white;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;

        &.hidden {
            display: none;
        }
    }

}