@import "variables";

.#{$app}-sortable-tree-component{
    z-index : 11;

    .#{$app}-sortable-group-header {
        position : relative;
        height : 40px;
        display: flex;
        align-items: center;

        .#{$app}-label-group-container {

            height : 40px;
            min-width : 240px;
            display : flex;
            transform: translateX(-6px);

            .mdc-checkbox {

                .mdc-checkbox__background {
                    &:before {
                        background-color: $primary1Color;
                    }

                    &:after {
                        background-color: $primary1Color;
                    }
                }
                &:before {
                    background-color: $primary1Color;
                }

                &:after {
                    background-color: $primary1Color;
                }
            }

            .mdc-checkbox__native-control:checked~.mdc-checkbox__background {
                border-color: $primary1Color;
                background-color: $primary1Color;
            }
            .mdc-checkbox__native-control:indeterminate~.mdc-checkbox__background {
                border-color: $primary1Color;
                background-color: $primary1Color;
            }
        }

        .#{$app}-sortable-group-header-menu-container {
            position: absolute;
            height : 40px;
            right: 0;
            top: 0
        }
    }

    .#{$app}-sortable-item-container {
        overflow: hidden;
        position: relative;
        display: flex;

        .#{$app}-box-toolbar-component {
            opacity: 0.3;
        }

        &:hover {
            .#{$app}-box-toolbar-component {
                opacity: 1;
            }
        }

        .tree-padding{
            height: auto;
            //border-bottom: solid #ddd 2px;
        }
    }
}