
.#{$prefix}ToolAnalyses {
	position: relative;
	height: calc(100% - 1px);
	width: calc(100% - 2px);

	.#{$prefix}analyses-boxes{
		position: relative;
		height: calc(100% - 40px);
		overflow: auto;
	}

	.#{$prefix}sidenav-add-analysis-button {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}

}