@import "variables";

.#{$prefix}tool-layers {
    position: relative;
    height: calc(100% - 1px);
    width: calc(100% - 2px);

    .#{$prefix}layers-boxes {
        position: relative;
        height: calc(100% - 40px);
        overflow: auto;
    }

    .#{$prefix}sidenav-add-layer-button {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }
}

