@import "variables";
$baseClass : $prefix + 'toolbar-component';

.#{$baseClass} {
    padding: 0;
    background: $primary1Color;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    overflow: hidden;

    .#{$baseClass}-extensions{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50px;
        transition: 0.3s;
        display: flex;
        flex-direction: row;

        .#{$baseClass}-icon-plus{
            color: $primary1Color;
            padding: 0 5px;
            position: absolute;
            border-radius: 50%;
            right: 3px;
            top: 2px;
            transition: 0.2s;
            font-size: 1.5em;

            &:before{
                content : '+';
            }
        }

        .#{$baseClass}-extension{
            display: none;
            border-radius: 3px;
            overflow: hidden;
            width: 25px;
            height: 25px;
            padding: 0 5px;
            margin: 15px 0 0 5px;
            cursor: pointer;
            background: $primary1Color;
            color: #fff;
            z-index: 1;
            text-align: center;
            vertical-align: middle;
            line-height: 25px;
        }

        &:hover{
            width: auto;
            min-width: 110px;
            padding-right: 10px;

            &:before{
                border-top: 46px solid rgba(255,255,255, 1);
                border-right: 46px solid rgba(255,255,255, 1);
                border-left: 0 solid rgba(255,255,255,0);
            }

            .#{$baseClass}-icon-plus{
                left: 0;
                top: 0;
                font-size: 0.7em;

                &:before{
                    content : 'Extensions';
                }
            }

            .#{$baseClass}-extension{
                display: inline-block;
            }
        }

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            border-top: 50px solid rgba(255,255,255,0.5);
            border-right: 50px solid rgba(255,255,255,0.5);
            border-left: 50px solid rgba(255,255,255,0);
            border-bottom: 50px solid rgba(255,255,255,0);
        }
    }

    .#{$baseClass}-logo{
        background: url("../../public/assets/img/maps.png") no-repeat -4px 0px;
        background-size: 100%;
        width: 50px;
        height: 38px;
    }

    .#{$baseClass}-title{
        max-width: 325px;
        width: auto
    }

    .#{$baseClass}-menu{

    }
}