@import "variables";

.#{$prefix}tool-config {
    padding-left: 20px;

    .#{$prefix}label-widget{
        transform: translateX(10px);
        line-height: 36px;
        width: 200px;
        cursor: move;
    }
}