@import "variables";

.cmaps-analysis-types-radio-button-container {

    .analysis-type-icon {
        background-color: transparent;
        cursor: pointer;
        display: inline-block;
        width: 20%;
        padding: 2px;
        box-sizing: border-box;

        input[type="radio"] {
            opacity: 0;
            height:0;
            width:0;
            position: absolute;
        }
        input[type="radio"]:checked {
            ~ .item {
                border: solid 2px $primary1Color;
                svg {
                    path {
                        fill: $primary1Color;
                    }
                    circle {
                        fill: $primary1Color;
                    }
                }
                ~ .subtitle {
                    color: $primary1Color;
                }
            }
        }
        .item {
            padding: 5%;
            border: solid 1px #ddd;
            ~ .subtitle {
                text-align: center;
                color: $defaultColorGray;
            }
        }
        svg, img {
            fill:gray;
            width: 100%;
            transform: translate(5%, 10%);
        }
    }
}
