@import "variables";

.cmaps-button-primary{
    padding: 5px;
    background: $primary1Color;
    color: #fff;
    font-size: 0.7em;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: $primary2Color;
    }
}

.#{$prefix}table1{
    display: table;
    padding: 10px;
    width: calc(100% - 20px);
    color: #444;

    .#{$prefix}row{
        display: table-row;
        transition: 0.3s;
        background: #fff;
        position: relative;
        height: 39px !important;
        overflow: hidden;

        &:hover{
            background: #eee;
        }

        &:first-child{
            color: #777;

            &:hover{
                background: #fff;
            }
        }

        .#{$prefix}cell{
            display: table-cell;
            padding: 6px;
            border-bottom: 1px solid #ddd;
            margin-right: 1px;
            vertical-align: middle;
            text-align: left;
            width: auto;
            max-width: 140px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &.#{$prefix}actions{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 38px;
                width: 136px !important;

                > div{
                    cursor:pointer;
                    margin: 0 5px;

                    &:hover *{
                        fill:$primary1Color;
                    }
                }

                .#{$prefix}red-icon{
                    &:hover *{
                        fill:#900;
                    }
                }

            }
        }
    }
}

.cmaps-row{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    width: 100%;

    .cmaps-col-1{  width: calc(8.3333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-2{  width: calc(16.66667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-3{  width: calc(25% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-4{  width: calc(33.3333333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-5{  width: calc(41.666666667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-6{  width: calc(50% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-7{  width: calc(58.333333333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-8{  width: calc(66.666666667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-9{  width: calc(75% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-10{  width: calc(83.333333333% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-11{  width: calc(91.666666667% - 20px); margin-right: 20px; display: flex; align-items: center;  }
    .cmaps-col-12{  width: calc(100% - 20px); margin-right: 20px; display: flex; align-items: center;  }
}