@import "variables";

$baseClass: $prefix + "widget-timeline";

.#{$baseClass} {
    position: absolute;
    height: 50px;
    width: calc(100% - 100px);
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    border: 2px solid rgba(0,121,107, 0.9);
    border-radius: 15px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
    padding: 0 30px 10px;
    z-index: 401;

    .#{$baseClass}-slider-container {
        width: 100%;

        .#{$baseClass}-slider {

            .rc-slider-step {

                .rc-slider-dot-active {
                    border-color: $primary1Color;
                }
            }

            .rc-slider-handle {
                border: solid 2px $primary1Color;
            }

            .rc-slider-mark {

                .rc-slider-mark-text {

                    &.rc-slider-mark-text-active {
                        color: #353535;
                    }
                }
            }
        }

        .rc-slider-track {
            background-color: $primary1Color;
        }
    }
}