@import "variables";

$baseClass : $prefix + "widget-legend-component";
$borderStyle : 2px solid rgba(194, 191, 186, 0.9);

.#{$baseClass} {
    width: auto;
    height: auto;
    z-index: 500;
    position : absolute;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    pointer-events : none;
    cursor: pointer;

    .#{$baseClass}-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .#{$baseClass}-toggle-button {
        pointer-events: all;
        width: 34px;
        height: 34px;
        background-color: white;
        border: $borderStyle;
        border-top: none;
        position: absolute;
        right: 10px;
        z-index: 2;
        top: 118px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        i {
            position: absolute;
            top : 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .#{$baseClass}-legend-container {
        width : 100%;
        height : 100%;

        .#{$baseClass}-draggable-legend {
            pointer-events: all;

            .#{$baseClass}-box-content {
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 5px;
                padding: 0 10px;
                border: $borderStyle;
                overflow: auto;

                .#{$baseClass}-header {
                    height: 35px;
                    width: auto;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    font-weight: 600;
                }
            }
        }
    }
}