@import "variables";

$baseClass: $prefix + "widget-swipe";

.#{$baseClass} {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: transparent;
    z-index: 401;

    .rc-slider-rail {
        visibility: hidden;
    }

    .#{$baseClass}-slider-container {
        width: 100%;

        .#{$baseClass}-slider {

            .rc-slider-step {

                .rc-slider-dot-active {
                    border-color: $primary1Color;
                }
            }

            .rc-slider-handle {
                border: solid 2px $primary1Color;
                width: 11px;
                border-radius: 0;
                cursor: ew-resize;
            }

            .rc-slider-mark {

                .rc-slider-mark-text {

                    &.rc-slider-mark-text-active {
                        color: #353535;
                    }
                }
            }
        }

        .rc-slider-track {
            background-color: $primary1Color;
            visibility: hidden !important;
        }
    }
}