
$baseClass : cmaps-widget-popup;
$popupTipSize: 20px;
$popupWidth: 340px;
$icon-color: #3AB596 !default;
$box-shadow-color: rgba(0, 0, 0, 0.18) !default;
$border-color: #CCCCCC !default;
$highlighted-text-color: $icon-color;
$defaultColorGray: rgba(0, 0, 0, 0.380392);
$bg: #ffffff !default;

.#{$baseClass} {
    position: absolute;
    z-index: 1001 !important;
    bottom: 0;
    right: 10px;
    width: $popupWidth;
    height: auto;
    transition: 0.3s;
    border: 1px #CCC solid;
    background-color: #FFFFFF;
    max-height: 300px;
    box-shadow: 3px 0 7px 0 $box-shadow-color;

    .c-resultSetKey{
        font-weight: bold;
        color: #999;
    }

}
.#{$baseClass}-scroll {
    padding: 10px !important;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 250px;
    height: auto;
}


