@import "../../../style/variables";

$baseClass : $prefix + 'toolbar-maintain-layer';

.#{$baseClass}{
    display: flex;
    flex-direction: column;
    height: 100%;

    .#{$baseClass}-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .#{$baseClass}-form-edit-layer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;

        .#{$baseClass}-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            height: 30px;
            width: 100%;
            margin-bottom: 20px;
            padding: 10px 0;
            color: #333;

            .#{$baseClass}-close{
                display: flex;
                cursor: pointer;
                margin: 17px 18px 0 0;
                transition: 0.2s;

                *{
                    fill: #000;
                }

                &:hover *{
                    fill: #900;
                }
            }
        }

        .#{$baseClass}-body{
            //display: flex;
            //flex-direction: column;
        }
    }

    .#{$baseClass}-layers{
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        padding: 5px;
        height: calc(100% - 10px);
        overflow: auto;
        align-content: flex-start;

        .#{$baseClass}-card-layer{
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            align-items: center;
            max-width:350px;
            min-width: 250px;
            min-height: 50px;
            max-height: 55px;
            margin: 5px;
            padding: 10px;
            background: #eee;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;

            &.#{$baseClass}-current{
                outline : 3px solid #999;
                order: -1;
            }

            .#{$baseClass}-card-hover-buttons{
                opacity: 0;
                transition: 0.2s;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 10;
                background: rgba(255,255,255,0.8);

                &:hover{
                    opacity: 1;
                }

                > div {
                    margin: 5px;
                }
            }

            &:hover{
                background: #eee;
            }

            .#{$baseClass}-card-geometry-type{
                width: 50px;
                height: 100%;
                margin-right: 5px;
                outline: 1px solid #ddd;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                &.polygon {
                    * {
                        background: #25993c;
                        fill: #25993c;
                    }
                }
                &.point {
                    * {
                        fill: #2e6599;
                    }
                }
                &.line {
                    * {
                        fill: #990003;
                    }
                }
            }

            .#{$baseClass}-card-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: calc(100% - 50px);
                font-size: 1em;

                .#{$baseClass}-card-header{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }

                .#{$baseClass}-card-subtitle{
                    font-size: 0.8em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }

                .#{$baseClass}-card-content{
                    font-size: 0.7em;
                }
            }
        }
    }

}