@import "../../../style/variables";

$baseClass : $prefix + 'toolbar-spatial-data-source-FORM';

.#{$baseClass} {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .#{$baseClass}-server-types {
        display: flex;
        flex-direction: row;

        .#{$baseClass}-server-type{
            background: #eee;
            padding: 15px 50px;
            margin-right: 10px;
            outline: 1px solid #fff;
            cursor: pointer;

            &:hover{
                background-color: #fff;
                outline: 1px solid #dddddd;
            }

            &.#{$baseClass}-current{
                background: $primary2Color;
                color: #fff;
            }
        }
    }

}