.Maps {
    .cmaps-tools {
        .cmaps-title .maps-icon{
            display : none !important;
        }
    }

    .c-resultSetKey,
    .CD_PROGRESSAO_EMPREENDIMENTO,
    .CO_ORDENACAO,
    .CD_ESTRUTURA,
    .CD_EMPREENDIMENTO,
    .CD_REQUERIMENTO_LICENCA,
    .CD_TIPOLOGIA,
    .CD_TP_ESTRUTURA {
        display: none !important;
    }
}