@import "../../../../style/variables";

$baseClass : $prefix + 'analysis-form-fields-tab';

.#{$baseClass}{
    //padding: 10px;

    * {
        font-size: 12px;
    }

    .#{$baseClass}-row{
        display: table-row;
        vertical-align: middle;

        &:nth-child(even){
            background: #eee;
        }

        .#{$baseClass}-column{
            display: table-cell;
            padding: 5px 0;
            vertical-align: middle;
            position: relative;

            &.col3{
                //width: 33.333333%;
            }

            &.col4{
                width: 25%;
            }

            &.col12{
                text-align: center;
                padding: 0 10px 0 0;
                width: 2%;
            }
        }
    }
}