@import "../../../../../style/variables";
$baseClass : $prefix + 'tool-analysis-analysis-form-thematic-list-breaks';

div.cmaps-accordion-component-container > div > div.cmaps-row > div > div > div:nth-child(1) > div:nth-child(2) > span{
    display: block !important;
}

.#{$baseClass}-current-ramp-color{
    width: 120px;
    height : 20px;
    cursor: pointer;
    position: relative;

    &:before {
        content: ' ';
        border-left: 5px solid rgba(0,0,0,0);
        border-right: 5px solid rgba(0,0,0,0);
        border-top: 5px solid rgba(0,0,0,1);
        border-bottom: 5px solid rgba(0,0,0,0);
        position: absolute;
        right: -16px;
        top: 50%;
        transform: translateY(-50%);
    }

    &.#{$baseClass}-collapsed{
        &:before {
            display: none;
        }
    }
}

.#{$baseClass}{
    position: relative;

    .#{$baseClass}-container{
        max-height: 150px;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .#{$baseClass}-row{
            padding: 5px;
            border-bottom: 1px solid #ddd;
        }
    }


    .#{$baseClass}-popover{
        position: absolute;
        width: 300px;
        height: auto;
        min-height: 100px;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 1000;
        padding: 10px;
        bottom: 0;
        left: 123px;

        .#{$baseClass}-tip{
            position: absolute;
            left:0;

            &:before{
                content: ' ';
                position: absolute;
                left: -30px;
                top: 20px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid transparent;
                border-right: 15px solid #fff;
                z-index: 1;
            }
            &:after{
                content: ' ';
                position: absolute;
                left: -33px;
                top: 19px;
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-left: 16px solid transparent;
                border-right: 16px solid #ccc;
            }
        }

    }

}